
.button {
    width: 25%;
    height: 48px;
    background-color: $generalgrey;
    text-align: center;
    border-top: 1px solid $darkgrey;
    border-right: 1px solid $darkgrey;
    font-weight: lighter;
    font-size: 16.5px;
}