
.roundbutton {
    width: 12px;
    height: 12px;
    margin-left: 7.5px;
    margin-top: 5px;
    border-radius: 200px;
    font-size: 10px;

    &.close { background-color: #ee6155; }
        
    &.minimize { background-color: #5fc554; }
                       
    &.expand { background-color: #f7c452; }
}